.container {
    margin-top: 20px;
}

.table-contact-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-contact-information > tbody > tr:first-child {
    border-top: 0;
}


.table-contact-information > tbody > tr > td {
    border-top: 0;
}