.rg-hidden {
    display: none;
}

.rg-text-display {
    white-space: pre;
}

.rg-code,
.rg-match-container {
    font-family: Consolas, monospace;
}

.rg-match-container {
    overflow-x: auto;
    width: 100%;
}

.rg-match-row {
    position: relative;
    height: 0.7rem;
    white-space: nowrap;
}

.rg-match-item {
    position: absolute;
    height: 0.7rem;
    cursor: pointer;
}

.rg-match-item-red {
    background-color: red;
    border: 1px solid red;
}

.rg-match-item-blue {
    background-color: blue;
    border: 1px solid blue;
}

.rg-match-item-green {
    background-color: green;
    border: 1px solid green;
}

.rg-item-selected {
    background-color: white !important;
    border: 1px solid gray;
}

.rg-item-not-available {
    background-color: lightgray !important;
    border: none;
    cursor: not-allowed;
}

.rg-check-row {
    margin-left: 1.4em;
}

.rg-check-row .custom-checkbox {
    padding-left: 0;
}

.rg-check-row .custom-checkbox .custom-control-input {
    margin-left: -2em;
}