#rg_blur + div {
  filter: blur(5px);
}

.rg-hidden {
  display: none;
}

.rg-banner-consent .btn {
  height: 2.3em;
}

.rg-text-display {
  white-space: pre;
}

.rg-code,
.rg-match-container {
  font-family: Consolas, monospace;
}

.rg-code-accordion pre[class*=language-]>code {
  box-shadow: none;
}

.rg-code-accordion pre[class*=language-]::before, .rg-code-accordion pre[class*=language-]::after {
  display: none;
}

.rg-match-container {
  overflow-x: auto;
  width: 100%;
}

.rg-match-row {
  position: relative;
  height: 0.7rem;
  white-space: nowrap;
}

.rg-match-item {
  position: absolute;
  height: 0.7rem;
  cursor: url('../images/cursor-rg-match-item-16.png') 8 10, auto;
}

.rg-match-item-red {
  background-color: #da6772;
  border: 1px solid #dc3545;
}

.rg-match-item-blue {
  background-color: #4da3ff;
  border: 1px solid #007bff;
}

.rg-match-item-green {
  background-color: #5dbb73;
  border: 1px solid #28a745;
}

.rg-match-item-yellow {
  background-color: #ffda6a;
  border: 1px solid #ffc107;
}

.rg-match-item-overlay {
  z-index: 2;
  display: none;
  top: 0.69em;
  position: relative;
  width: max-content;
  padding: 0.2em;
  background-color: inherit;
  cursor: pointer;
}

.rg-match-item:hover .rg-match-item-overlay {
  display: block;
}

.rg-match-item.rg-item-selected:hover .rg-match-item-overlay,
.rg-match-item.rg-item-not-available:hover .rg-match-item-overlay {
  display: none;
}

.rg-match-item-overlay a {
  display: block;
}

.rg-char-selected {
  background: lightgray !important;
}

.rg-item-selected {
  background-color: white !important;
  border: 1px solid gray;
  cursor: url('../images/cursor-rg-match-selection-delete-32.png'), auto;
}

.rg-item-not-available {
  background-color: lightgray !important;
  border: none;
  cursor: not-allowed;
}

.rg-result-part:hover {
    background-color: lightgray;
}

.rg-check-row {
  padding-left: 1.5em;
}

.rg-check-row + .rg-check-row {
  margin-top: 0.8em;
}

.rg-check-row .form-check {
  padding-left: 0;
}

.rg-check-row .form-check .form-check-input {
  margin-left: -1.5em;
}

.rg-code-accordion .accordion-button {
  padding: 0.6em;
}

.rg-code-accordion .accordion-button {
  box-shadow: none;
}

.rg-code-accordion .accordion-button:not(.collapsed) {
  background-color: #f4f8ff;
}

.rg-code-accordion pre {
  margin: 0;
  background-color: white;
}

#rg_result_display {
  white-space: pre-wrap;
}

.rg-share-link {
  overflow-x: auto;
  white-space: nowrap;
}

footer a.rounded {
  display: inline-block;
  padding: 0.2em;
  margin: -0.07em 0;
}

footer a.rounded:hover {
  background-color: #1b1b1b;
}



/* Driver things */

.rg-guide#driver-popover-item > .driver-popover-title {
  font: inherit;
  font-size: 14pt;
  font-weight: 700;
}


.rg-guide#driver-popover-item > .driver-popover-description {
  font: inherit;
  font-size: 11pt;
}

.rg-guide#driver-popover-item .driver-popover-footer button {
  font: inherit;
  font-size: 10pt;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: #6c757d;
  color: #F8F9FA;
  text-shadow: none;
  border: none;
}

.rg-guide#driver-popover-item .driver-popover-footer button.driver-next-btn {
  background-color: #007bff;
}

.rg-guide#driver-popover-item .driver-popover-footer button.driver-disabled {
  color: #F8F9FA;
  opacity: .65;
}

