
name: Build and test project

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    name: Build with Java
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Set Java
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 17
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Run Gradle tasks
        run: ./gradlew clean testPackageJson test browserDevelopmentWebpack build
      - name: Cleanup Gradle Cache
          # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
          # Restoring these files from a GitHub Actions cache might cause problems for future builds.
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties

      # build docker image
      - name: Build Docker images
        uses: docker/build-push-action@v2.7.0
        with:
          context: .
          push: false
