name: Build docker images

on:
  workflow_dispatch:
    inputs:
      appEnvironment:
        type: choice
        options:
          - github
          - local
        required: true
        default: "local"
        description: "The type of build to start."
      pushImages:
        type: boolean
        required: true
        default: false
        description: "Set to 'true' to push the docker images to Docker Hub"
  workflow_call:
    inputs:
      appEnvironment:
        type: string
        required: true
        default: "github"
      pushImages:
        type: boolean
        required: true
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
      DOCKERHUB_PASSWORD:
        required: false

jobs:
  build-and-publish-docker:
    runs-on: ubuntu-latest
    name: Build and publish Docker images
    env:
      docker-platforms: "linux/amd64,linux/arm64"
    steps:
      # prepare build
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get sha_short
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      # change ENV variables if not multi-platform (local)
      - name: Sets env vars for local build
        if: ${{ inputs.appEnvironment == 'local' }}
        run: |
          echo "docker-platforms=linux/amd64" >> $GITHUB_ENV

      # if running for docker hub, download the prepared artifacts
      - name: Download artifacts
        if: ${{ inputs.appEnvironment == 'github' }}
        uses: actions/download-artifact@v4
        with:
          name: site
          path: build/distributions

      # set up QEMU to enable build of images for multiple architectures
      - name: Set up QEMU
        if: ${{ inputs.appEnvironment == 'github' }}
        uses: docker/setup-qemu-action@v3

      # generate and publish docker image containing the generated page
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # cache docker layers
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-docker${{ inputs.appEnvironment }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker${{ inputs.appEnvironment }}-

      # Do the docker stuff
      - name: Login to DockerHub
        if: ${{ inputs.pushImages }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker images
        uses: docker/build-push-action@v6.15.0
        with:
          context: .
          platforms: ${{ env.docker-platforms }}
          build-args: APP_ENV=${{ inputs.appEnvironment }}
          push: ${{ inputs.pushImages }}
          tags: noxone/regexgenerator:latest,noxone/regexgenerator:${{ steps.date.outputs.date }}_${{ steps.vars.outputs.sha_short }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Move cache
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Delete Old Tags
        if: ${{ inputs.pushImages }}
        env: 
          docker_username: ${{ secrets.DOCKERHUB_USERNAME }}
          docker_password: ${{ secrets.DOCKERHUB_PASSWORD }}
          numberOfImagesToKeep: ${{ github.event.inputs.numberOfImagesToKeep }}
        run: exec ./.github/scripts/delete-old-docker-tags.sh

      # Update docker repository description
      - name: Prepare Docker description
        if: ${{ inputs.pushImages }}
        run: |
          filename=docker.README.md

          startLine=$(grep -n '## Usage' README.md | sed 's/[^00-9]*//g')
          startLine=$((startLine - 1))
          endLine=$(grep -n '## Project goal' README.md | sed 's/[^00-9]*//g')

          head -n $startLine README.md > $filename
          tail -n +$endLine README.md >> $filename
      - name: Publish docker description
        if: ${{ inputs.pushImages }}
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: noxone/regexgenerator
          short-description: ${{ github.event.repository.description }}
          readme-filepath: ./docker.README.md
