name: Build docker images

on:
  workflow_dispatch:
    inputs:
      appEnvironment:
        type: choice
        options:
          - github
          - local
        required: true
        default: "local"
        description: "The type of build to start."
      pushImages:
        type: boolean
        required: true
        default: false
        description: "Set to 'true' to push the docker images to Docker Hub"
  workflow_call:
    inputs:
      appEnvironment:
        type: string
        required: true
        default: "github"
      pushImages:
        type: boolean
        required: true
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build-and-publish-docker:
    runs-on: ubuntu-latest
    name: Build and publish Docker images
    env:
      docker-platforms: "linux/amd64,linux/arm64"
    steps:
      # prepare build
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get sha_short
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      # change ENV variables if not multi-platform (local)
      - name: Sets env vars for local build
        if: ${{ inputs.appEnvironment == 'local' }}
        run: |
          echo "docker-platforms=linux/amd64" >> $GITHUB_ENV

      # if running for docker hub, download the prepared artifacts
      - name: Download artifacts
        if: ${{ inputs.appEnvironment == 'github' }}
        uses: actions/download-artifact@v3
        with:
          name: site
          path: build/distributions

      # set up QEMU to enable build of images for multiple architectures
      - name: Set up QEMU
        if: ${{ inputs.appEnvironment == 'github' }}
        uses: docker/setup-qemu-action@v2

      # generate and publish docker image containing the generated page
      - name: Set up Docker Buildx
        if: ${{ inputs.appEnvironment == 'github' }}
        uses: docker/setup-buildx-action@v2

      # Do the docker stuff
      - name: Login to DockerHub
        if: ${{ inputs.pushImages }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker images
        uses: docker/build-push-action@v3.1.1
        with:
          context: .
          platforms: ${{ env.docker-platforms }}
          build-args: APP_ENV=${{ inputs.appEnvironment }}
          push: ${{ inputs.pushImages }}
          tags: noxone/regexgenerator:latest,noxone/regexgenerator:${{ steps.date.outputs.date }}_${{ steps.vars.outputs.sha_short }}


# Disabled because the action seems not to work
#      # Delete old docker image tags
#      - name: Delete old docker image tags
#        if: ${{ inputs.pushImages }}
#        uses: m3ntorship/action-dockerhub-cleanup@1.4
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          token: ${{ secrets.DOCKERHUB_TOKEN }}
#          keep-last: 6
#          user: noxone
#          repos: regexgenerator


      # Update docker repository description
      - name: Prepare Docker description
        if: ${{ inputs.pushImages }}
        run: |
          filename=docker.README.md

          startLine=$(grep -n '## Usage' README.md | sed 's/[^00-9]*//g')
          startLine=$((startLine - 1))
          endLine=$(grep -n '## Project goal' README.md | sed 's/[^00-9]*//g')

          head -n $startLine README.md > $filename
          tail -n +$endLine README.md >> $filename
      - name: Publish docker description
        if: ${{ inputs.pushImages }}
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: noxone/regexgenerator
          short-description: ${{ github.event.repository.description }}
          readme-filepath: ./docker.README.md
