name: Build and publish project

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.github/**'
      - 'sample-code/**'
      - 'raw/**'

jobs:
  build-project:
    name: "Build project"
    uses: ./.github/workflows/build-project.yml
    with:
      uploadArtifacts: true
      includeReports: true

  publish-site:
    runs-on: ubuntu-latest
    needs: build-project
    name: "Publish Site"
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: site
          path: build/distributions

      # Remove some lines to active website tracking
      - name: Prepare website for github pages
        run: |
          grep -v "REMOVE_LINE_FOR_PUBLISHING" ./build/distributions/index.html > temp && mv temp ./build/distributions/index.html

      # publish the generated page to github pages
      - name: Deploy Site
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/distributions
          cname: regex-generator.olafneumann.org

  build-and-publish-docker:
    needs: build-project
    name: Build and publish Docker images
    uses: ./.github/workflows/build-docker.yml
    with:
      appEnvironment: "github"
      pushImages: true
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
